.login-form-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e9e6f8ef;
  }
  @media screen and (max-width: 767px) {
    .login-form-main-container {
      padding: 10px;
    }
  }
  
  .login-form-container {
    box-shadow: 1px 10px 15px #bababa;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
  }
  @media screen and (max-width: 767px) {
    .login-form-container {
      padding: 30px;
    }
  }
  
  .login-form-title-container {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    background-color: #0a3cb0;
    height: 36px;
    width: 34px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  .logo-icon {
    color: #fff;
    height: 24px;
    width: 24px;
  }
  
  .login-form {
    border-bottom: 1px solid #bababa;
    padding-bottom: 20px;
  }
  
  .login-form-title {
    font-size: 24px;
    font-weight: 650;
  }
  @media screen and (max-width: 767px) {
    .login-form-title {
      font-size: 22px;
    }
  }
  
  .login-form-heading {
    font-size: 24px;
    color: #5a5a5a;
    font-weight: 650px;
    margin-bottom: 0;
    margin-top: 0;
  }
  @media screen and (max-width: 767px) {
    .login-form-heading {
      font-size: 22px;
    }
  }
  
  .login-form-description {
    font-size: 16px;
    margin-top: 4px;
  }
  @media screen and (max-width: 767px) {
    .login-form-description {
      font-size: 14px;
    }
  }
  
  .category-checkbox-container {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-input {
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    .checkbox-input {
      height: 12px;
      width: 12px;
    }
  }
  
  .checkbox-name {
    color: grey;
    margin-left: 6px;
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    .checkbox-name {
      font-size: 14px;
    }
  }
  
  .input-fields-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  
  .input-field {
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 12px;
  }
  @media screen and (max-width: 767px) {
    .input-field {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  .password-input-container {
    display: flex;
    border: 1px solid rgb(193, 191, 191);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    /* align-items: center; */
  }
  
  .password-input-field {
    border: 0;
    outline: none;
    width: 100%;
  }
  
  .eye-button {
    background-color: transparent;
    border: 0;
    outline: none;
    color: #656565;
  }
  
  .input-field:invalid ~ .error-message {
    display: block;
  }
  
  .sign-up-line {
    margin-top: 10px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    font-size: 14px;
  }
  
  .sign-up-link {
    color: #0f4ee1;
    margin-left: 6px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .signup-logos-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .facebook {
    color: #0f4ee1;
  }
  
  .twitter {
    color: #34a1ee;
  }
  
  .signup-logo {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  
  .error-message {
    font-size: 12px;
    color: #ef3f3f;
    display: none;
  }
  