.forgot-password-form-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e9e6f8ef;
  }
  @media screen and (max-width: 767px) {
    .forgot-password-form-main-container {
      padding: 20px;
    }
  }
  
  .forgot-password-form-container {
    box-shadow: 1px 10px 15px #bababa;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
  }
  @media screen and (max-width: 767px) {
    .forgot-password-form-container {
      padding: 30px;
    }
  }
  
  .forgot-password-form-title-container {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    background-color: #0a3cb0;
    height: 36px;
    width: 34px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  .logo-icon {
    color: #fff;
    height: 24px;
    width: 24px;
  }
  
  .forgot-password-form {
    padding-bottom: 20px;
  }
  
  .forgot-password-form-title {
    font-size: 24px;
    font-weight: 650;
  }
  @media screen and (max-width: 767px) {
    .forgot-password-form-title {
      font-size: 22px;
    }
  }
  
  .forgot-password-form-heading {
    font-size: 24px;
    color: #5a5a5a;
    font-weight: 650px;
    margin-bottom: 0;
    margin-top: 0;
  }
  @media screen and (max-width: 767px) {
    .login-form-heading {
      font-size: 22px;
    }
  }
  
  .forgot-password-form-description {
    font-size: 16px;
    margin-top: 4px;
  }
  @media screen and (max-width: 767px) {
    .forgot-password-form-description {
      font-size: 14px;
    }
  }
  
  .forgot-password-input-fields-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  
  .forgot-password-input-field {
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 12px;
  }
  @media screen and (max-width: 767px) {
    .forgot-password-input-field {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  .password-input-container {
    display: flex;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    /* align-items: center; */
  }
  
  .password-input-field {
    border: 0;
    outline: none;
    width: 100%;
  }
  
  .eye-button {
    background-color: transparent;
    border: 0;
    outline: none;
    color: #656565;
  }
  
  .back-to-login-container {
    text-align: center;
  }
  
  .back-to-login {
    text-decoration: none;
  }
  